*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #F4F4F4; */
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 40px 100px 20px 100px;
}
.logo{
    font-weight: 800;
    font-size: xx-large;
}
.nav-img span{
    color: chocolate;
}
.nav-search-btn{
    position: relative;
}
.nav-search-btn input{
    background-color: #F1F1F1;
    border: none;
    border-radius: 66px;
    padding: 15px 30px;
    width: 508px;
    font-size: 16px;
    font-weight: 600;
}
.nav-search-btn i{
    position: absolute;
    top: 17px;
    right: 20px;
    color: #BABABA;
}
.nav-items{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
}
.nav-items li a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
    font-weight: 500;
}

/* banner style */
.banner{
    width: 1300px;
    height: 455px;
    background-color: #FEEAE9;
    border-radius: 10px;
    margin: 63px 100px 0px 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.banner-content{
    width: 560px;
    height: 319px;
    margin: 68px 141px 68px 48px;
}
.banner-content-title{
    width: 560px;
    height: 84px;
}
.banner-content-details{
    width: 456px;
    height: 97px;
}
.banner-content-price{
    width: 117px;
    height: 62px;
    font-size: 41px;
    font-weight: 600;
    color: #FF136F;
}
.banner-content-btn{
    width: 168px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF136F;
    border: none;
    border-radius: 10px;
    
}
.banner-content-below{
    position: relative;
}
.banner-content-below i{
    position: absolute;
    top: 20px;
    left: 140px;
    color: #FFFFFF;
}
.banner-content-btn:hover{
    cursor: pointer;
    background-color:#ca047ed9;
}
/* categories custom style */
.products{
    width: 1128px;
    margin-top: 20px;
    margin-left: 200px;
}
.categories{
    display: flex;
    justify-content: space-between;
    width: 1128px;
    height: 120px;

}
.categories-watch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 359px;
    height: 120px;
    background-color: #FF9C35;
    border-radius: 10px;
}
.categories-watch div{
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
}
.categories-watch img{
    width: 68.21px;
    height: 90px;
}

.categories-title{
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
}
